appdirs==1.4.3
attr==0.3.1
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
cldfbench==1.2.1
cldfcatalog==1.3.0
clldutils==3.5.0
colorlog==4.0.2
cycler==0.10.0
decorator==4.4.1
gitdb==4.0.2
idna==2.9
isodate==0.6.0
jdcal==1.4.1
joblib==0.14.1
kiwisolver==1.1.0
-e git+https://github.com/lingpy/lingpy.git@4d42cda2ecd7b54abaf1a2d4aa517c54ff89b573#egg=lingpy
-e git+https://github.com/lingpy/lingrex.git@9b3d7024c6b7302fbe1ffb4c4deab2db0c95d050#egg=lingrex
-e git+https://github.com/lingpy/linse.git@139e54c4ce281a2cd5db1b4da4c516ec1e47dbf2#egg=linse
lxml==4.5.0
Markdown==3.1.1
matplotlib==3.2.1
networkx==2.2
-e git+https://github.com/glottobank/python-newick/@6db59453a4f9a4280e7b89ef39792f0790b7f948#egg=newick
numpy==1.17.4
openpyxl==3.0.3
packaging==20.3
pandas==1.0.3
pluggy==0.13.1
purl==1.5
py==1.8.1
pybtex==0.22.2
pycldf==1.9.0
-e git+https://github.com/cldf-clts/pyclts@2ad3ba854f2506ff74b1ce7879331c855b7db974#egg=pyclts
pyconcepticon==2.6.0
pycountry==19.8.18
-e git+https://github.com/clld/pyglottolog.git@c17c4d48c35c0666d58eac89ba5ea806f62a14ff#egg=pyglottolog
-e git+https://github.com/lexibank/pylexibank.git@2533f67b43a9c943fc06d39f1f8c1d164e858f50#egg=pylexibank
pyparsing==2.4.5
pytest==5.4.1
pytz==2019.3
regex==2020.2.20
requests==2.23.0
rfc3986==1.3.2
scipy==1.4.1
segments==2.1.3
-e git+https://github.com/LinguList/chinese.git@b6b6372dbf08dc15cc6e58ea9f8ab25975b6e5c7#egg=sinopy
six==1.13.0
sklearn==0.0
smmap==3.0.1
soupsieve==2.0
SQLAlchemy==1.3.15
tabulate==0.8.6
termcolor==1.1.0
tqdm==4.40.2
uritemplate==3.0.0
urllib3==1.25.8
wcwidth==0.1.8
xlrd==1.2.0